.saved {
   display: grid; 
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   grid-gap: 20px;
   justify-items: center;

   padding-top: 2rem;
}

.notLogin {
   width: 100%;
   display: flex; 
   align-items: center;
   flex-direction: column;
   padding-top: 10rem;
}

.notLogin h1 {
   margin-bottom: 20px;
}