.footer {
   /* padding: 5rem;  */
   /* background-color: rgb(214, 214, 214); */
   /* color: white;  */
   margin-top: 20px;
}

.solid {
   border: 0; 
   border-top: 2px solid #cecece;
}

.menuContainer {
   border-top: 1px solid #cecece;
   margin-top: 2px;
   text-align: center;
   padding-top: 30px; 
}

.copyright p:not(:last-child) {
   margin-bottom: 10px; 
}

.copyright a {
   margin-left: 4px; 
   font-style: italic;
}

.credit {
   font-size: 13px;
}

.social {
   display: flex; 
   justify-content: center;
   padding: 25px 0;
   /* width: 100%;  */
}

.socialIcon {
   font-size: 25px; 
   margin: 0 10px; 
}