.navbar {
   display: flex;
   justify-content: space-between;
   position: fixed;
   width: 100%; 
   align-items: center;
   padding-top: 15px;
   padding-bottom: 15px;
   border-bottom: 1px solid #999999;
   /* font-size: 24px */
}


.navLinks a,
.navLinks a:visited,
.navLinks a:active {
   text-decoration: none;
   color: black;
   margin-right: 30px;
   cursor: pointer;
}

.logo {
   position: absolute; 
   left: 0;
   right: 0;
   /* text-align: center; */
   /* font-size: 30px;  */
   font-family: var(--font-header);
   display: flex;
   width: auto; 
   justify-content: center;
   align-items: center;
   font-size: 24px;
   padding: 5px 0; 
   z-index: -1;
}

.logo img {
   height: 39px; 
   margin-right: 10px;
}
