.header {
   border-bottom: 2px solid black;
   padding-bottom: 1rem;
   padding-top: 2rem; 
   font-size: 1.6rem; 
}

.header h1 {
   font-size: 5rem;
   font-style: italic; 
   padding-bottom: .8rem;
}