.inputForm {
    width: 100%;
    padding: 1.5rem 0; 
}


.inputContainer {
    height: 5rem;
    padding: .5rem 3rem;
    border-radius: 5px;
    width: 50rem;
    display: flex;
    align-items: center;
}

.inputContainer input {
    border: none;
    background-color: inherit;
    /* padding: 5px;  */
    color: inherit; 
    margin-left: 1rem;
    width: 100%; 
    font-size: 2rem; 
    font-weight: 500; 
    font-family: inherit;
    border-bottom: 1px solid transparent;
    /* transition: border-bottom .1s; */
}

.inputContainer input:focus {
    outline: none;
    border-bottom: 1px solid #ababab;
}

.inputContainer input:hover {
    border-bottom: 1px solid #ababab;
}

.inputContainer input::placeholder {
    font-family: inherit;
    color: #ababab; 
    font-weight: 400; 
}

.searchIcon {
    color: grey;
    font-size: 1.7rem; 
}

.searchIcon:hover {
    cursor: pointer; 
}
