
.item {
   display: flex; 
   padding: 2rem 0; 
   font-size: 1.5rem;
   border-bottom: var(--border-color);
}

.item:first-child {
   border-top: var(--border-color)
}

.image {
   margin-right: 2rem; 
}

.image img {
   width: 13rem;
}

.info {
   display: flex;
   flex-direction: column;
}

.info h3 {
   font-size: 2.2rem;
   font-weight: 500;
   margin-bottom: 1rem; 
   width: fit-content;
}

.info h3:hover {
   text-decoration: underline;
}

.info a,
.info a:active,
.info a:visited {
   text-decoration: none; 
   color: black;
}

.authors {
   font-size: 1.3rem;
   font-style: italic;
}

.description {
   display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin-top: 1.5rem; 
  line-height: 2.2rem;
}

.actions {
   margin-top: 1rem;
   display: flex;
}

.actions button {
   margin-right: 1rem;
}

.disabled {
   background-color: green;
}

.noImage {
   width: 13rem;
   height: 20rem; 
   display: flex; 
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
}

.noImage i {
   font-size: 2.5rem;
   margin-bottom: 1rem; 
}

@media only screen and (max-width: 450px) {
   .item {
      flex-direction: column;
      text-align: center;
   }
   .info {
      align-items: center;
   }
   .image {
      margin-right: 0;
      margin-bottom: 1rem;
   }
}