
.thumb img {
   float: right; 
   padding-left: .8rem;
   padding-bottom: .5rem;
}

.thumb h1 {
   font-weight: 400; 
   font-size: 2.7rem;
   line-height: 2.8rem;
   margin-bottom: 1rem; 
}

.thumb h1:hover {
   text-decoration: underline;
}

.thumb p {
   font-size: 1.5rem;
   line-height: 2rem;
   margin: 1rem 0;
}

.thumb .abstract {
   font-style: italic;
   font-size: 1.3rem; 
}

a {
   text-decoration: none;
   color: black;
   cursor: pointer;
}