.card {
   padding-right: 2rem;
   
}

.card img {
   width: 100%; 
}

.card h1 {
   font-weight: 400; 
   font-size: 2.7rem;
   line-height: 2.8rem;
   margin: 1rem 0;
}

.card h1:hover {
   text-decoration: underline;
}

.card p {
   font-size: 1.5rem;
   line-height: 2rem;
   margin: 1rem 0;
}

.card .abstract {
   font-style: italic;
   font-size: 1.3rem; 
}

a {
   text-decoration: none;
   color: black;
   cursor: pointer;
}
