:root {
  --font-header: "EB Garamond", serif;
  --font-text: "Raleway", sans-serif;
  --border-color: 1px solid #cecece;

  --color-primary: #1D5CAF;
  --color-primary-highlighted: #4170ad;
  --color-black-highlighted: rgb(58, 58, 58);
  --color-success: #03a503;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: var(--font-text);
  /* font-size: 1.6rem; */
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-header);
}


/* Utility Classes */

.container {
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 2rem;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 56.25%;
  }
}