:root {
  --font-header: "EB Garamond", serif;
  --font-text: "Raleway", sans-serif;
  --border-color: 1px solid #cecece;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  box-sizing: border-box;
  font-family: var(--font-text);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-header);
}


/* Utility Classes */

.container {
  padding: 0 8%;
}

.mainHeader {
  font-size: 50px;
  font-style: italic; 
}
