
.button {
   background-color: var(--color-primary);
   outline: none; 
   border: none;
   padding: .7rem 1.7rem; 
   color: white; 
   border-radius: 3px;
   font-family: var(--font-text);
   font-weight: 500;
   cursor: pointer;
}